@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: 'outfit', 'san serif';
}

body{
    box-sizing: border-box;
}

.Pages{
    width: 100%;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9{
    width: 100%;
    height: fit-content;
}


.navbar-nav a{
    padding: 10px 10px;
    margin: 2px 0;
}
.navbar-nav a:hover{
    background-color: #a9a7ff;
    color: white;
}

.firstPage{
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.container1{
    height: fit-content;
    width: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
}
.contentofpage1 h2{
    font-size: 18px;
    color: #615EFC;
}
.contentofPage1 p{
    font-size: 12px;
}
.contentofPage1 button{
    font-size: 12px;
}
#learnMore-btn{
    color: #FFFFFF;
    background-color: #615EFC;
    border: none;
    border-radius: 2px;
    padding: 6px;
}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
}
#lappy{
    width: 75%;
}



.container2{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 0;
}
.container2 h2{
    font-size: 1rem;
}
.container2 p{
    font-size: 12px;
}
.contentofPage2{
    margin: 0;
    text-align: center;
}
#choose{
    width: 250px;
    margin-bottom: 20px;
}


.thirdPage{
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.contentofpage3 h1{
    font-size: 18px;
}
.contentofpage3 p{
    font-size: 12px;
}

.forthPage{
    padding: 40px 0;
    background-color: #F3F4F6;
}
.container4{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.contentofpage4 h1{
    font-size: 18px;
}
.contentofpage4 p{
    font-size: 12px;
}
.container4 img{
    width: 100%;
    margin-bottom: 10px;
}

.fifthPage{
    padding: 40px 0;
}
.contentofpage5 img{
    width: 100%;
    margin-bottom: 10px;
}
.Container5txt h2{
    font-size: 18px;
}
.Container5txt p{
    font-size: 12px;
}

.seventhPage{
    background-color: #F3F4F6;
    padding: 40px 0;
}

.contentofpage7{
    display: flex;
    width: 100%;
}

.context7{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.context7 h1{
    font-size: 18px;
    margin: 10px 0;
}
.context7 p{
    font-size: 12px;
    color: #615EFC;
    margin: 10px 0;
    cursor: pointer;
}
.context7 p a{
    text-decoration: none;
}



.container7 img{
    width: 100%;
    margin-bottom: 10px;
}

.eightPage{
    padding: 40px 0;
}

.student{
    padding: 50px 0;
    font-family: 'outfit';
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 15px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.2), 0 6px 20px 0 rgba(189, 189, 189, 0.19);
}
.content8{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.contentofpage8 h1{
    font-size: 18px;

    font-family: 'outfit';
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.info{
    text-align: center;
}
.info .studentinfo{
    margin: 0;

}
.contenttxt{
    text-align: center;
    color: #141414;
}
.name{
    margin: 10px 0;
}
.student{
    margin: 0;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}
.student h4{
    font-size: 18px;
}
.student p{
    font-size: 12px;
}
.student h4{
    font-size: 18px;
}
.star i{
    color: #eeff00;
    font-size: 12px;
}
.student:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ninethPage{
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.content9{
    padding: 40px 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
.content9 h1{
    font-size: 18px;
    color: #615EFC;
}
.content8 image{
    width: 100%;
    opacity: 100%;
}


.section1-contact{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}

.ContactPage{
    padding: 50px 0;
}
.ContactPage h1{
    margin-bottom: 20px;
    text-align: center;
}
.MainContainer{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px
}

.inputContainer{
    width: 100%;
    margin-bottom: 50px;
}
.MainContainer iframe{
    width: 100%;
    height: auto;
}


/*Gallery*/
.Containering{
    width: 80%;
    background: #FFFFFF;
    border-bottom: 0.5px solid #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.galleryPage h1{
    text-align: center;
    font-family: 'outfit';
    font-weight: 500;
}
.galleryPage{
    padding: 50px 0;
}
.Container{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.Container img{
    width: 250px;
    margin: 4px;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}

.Container img:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*NEWS*/
.Container-news{
    padding: 50px 0;
}
.content-news{
    text-align: center;
    font-family: 'outfit';
}



.content-news h1{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
.content-news p{
    margin: 0;
    padding: 8px 0;
    font-size: 8px;
}

.group1-news h2{
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0;
}

.content2-news h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
#imgNews{
    width: 100%;
}

.group1-news{
    padding-bottom: 50px;
    padding-top: 20px;
}

.group1-news img{
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}
.group1-news img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content2-news button{
    background-color: #615EFC;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 50px;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}

.content2-news button:hover{
    cursor: pointer;
    background-color: #010038;

}
.news img{
    height: auto;
    width: auto;
}
.display-news{
    background-color: #F3F4F6;
    
}
.content2-news{
    text-align: center;
    font-family: 'outfit';
  
}
.news p{
    font-weight: 200;
    color: #424242;
}
.newsOnetxt{
    font-weight: 300;
}
.newsTwotxt{
    font-weight: 300;
}
.newsThreetxt{
    font-weight: 300;
}
.newsOne{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsOne:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsTwo:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsThree:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.newsOneContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}




.newsTwo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsTwoContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.newsThree{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsThreeContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.news a{
    margin: 10px 0;
}


/*Contact Done*/


/*About Page*/
.aboutPage1{
    padding: 50px 0;
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.aboutpage1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
    text-align: center;
}

.aboutPage1 h1{
    color: #615EFC;
    font-size: 3rem;
}

.aboutPage1 p{
    font-size: 16px;
}

.aboutPage2{
    padding: 50px 0;
}
.aboutpage2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.aboutpage2content2{
    text-align: center;
}

.aboutpage2content2 h1{
    font-size: 3rem;
}


.aboutPage4{
    padding: 50px 0;
}
.aboutpage4{
    text-align: center;
    width: 100%;
}


.dean{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 80px;
}
.teacher img{
    width: 350px;
    height: auto;
    margin-right: 20px;
}
.teacher div{
    margin: 20px 0;
}
.nameTeacher{
    font-size: 18px;
    color: black;
}
.teacher1,
.teacher2,
.teacher3,
.teacher4{
    display: flex;
    text-align: left;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(153, 153, 153, 0.2), 0 6px 20px 0 rgba(185, 185, 185, 0.19);
}

.teacher1:hover,
.teacher2:hover,
.teacher3:hover,
.teacher4:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutPage5{
    padding: 50px 0;
}
.aboutpage5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ClassOfficers{
    
}
.StudentCouncil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0;
    text-align: center;
    
}

.aboutpage5 img{
    margin: 20px 0;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}
.aboutpage5 img:hover{
    box-shadow: 0 4px 8px 0 rgba(197, 81, 255, 0.2), 0 6px 20px 0 rgba(206, 43, 255, 0.19);
}














footer{
    background-color: #141414;
    padding: 20px 0;
    color: #FFFFFF;
}
#logoFooter{
    width: 50px;
    height: auto;
}
.group-1 h3{
    font-size: 14px;
}
.group-1 p{
    font-size: 10px;
    margin-top: 10px;
}

#emailFooter{
    font-size: 8px;
    padding: 6px;
    width: 210px;
    border-radius: 1px;
    margin-right: 2px;
    border: none;

}
#Subscribe-btn{
    font-size: 8px;
    padding: 6px;
    border: none;
    border-radius: 1px;
    color: #FFFFFF;
    background-color: #615EFC;
}

#container5Img{
    margin-right: 6px;
}

.group-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.group-2 i{
    display: none;
}
.group-2 h3{
    font-size: 10px;
}
.group-2 p{
    font-size: 8px;
}

.instagram,
.facebook,
.twitter,
.discord,
.youtube{
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.FollowUs div{
    display: flex;
}

.copyright{
    background-color: #615EFC;
    color: #FFFFFF;
    height: 20px;
    display: flex;
    align-items: center;
}
.copyrightContent{
    display: flex;
    justify-content: space-between;
}
.copyright p{
    font-size: 8px;
    margin: 0;
}
.terms{
    display: flex;
}

















@media (min-width:576px) {
    .firstPage{
        height: fit-content;
        display: flex;
        align-items: center;
        text-align: center;

    }
    .contentofpage1 .h1{
        font-size: 14px;
    }
    .contentofpage1 p{
        font-size: 12px;
    }
    .contentofpage1 button{
        font-size: 12px;
        padding: 8px;
        color: #FFFFFF;
        background-color: #615EFC;
        border: none;
        border-radius: 4px;
    }
    #lappy{
        width: 40%;
    }
    .container2 h2{
        font-size: 1rem;
    }
    .container2 p{
        font-size: 12px;
    }
    .contentofPage2{
        margin: 0;
        text-align: center;
    }
    .contentofPage2 img{
        width: 250px;
    }

    /*Done HomePage*/

    /*NEWS*/
.Container-news{
    padding: 50px 0;
}
.content-news{
    text-align: center;
    font-family: 'outfit';
}



.content-news h1{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
.content-news p{
    margin: 0;
    padding: 8px 0;
    font-size: 12px;
}

.group1-news h2{
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0;
}

.content2-news h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
#imgNews{
    width: 100%;
}

.group1-news{
    padding-bottom: 50px;
    padding-top: 20px;
}

.group1-news img{
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}
.group1-news img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content2-news button{
    background-color: #615EFC;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 50px;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}

.content2-news button:hover{
    cursor: pointer;
    background-color: #010038;

}
.news img{
    height: auto;
    width: auto;
}
.display-news{
    background-color: #F3F4F6;
    
}
.content2-news{
    text-align: center;
    font-family: 'outfit';
  
}
.news p{
    font-weight: 200;
    color: #424242;
}
.newsOnetxt{
    font-weight: 300;
}
.newsTwotxt{
    font-weight: 300;
}
.newsThreetxt{
    font-weight: 300;
}
.newsOne{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsOne:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsTwo:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsThree:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.newsOneContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}




.newsTwo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsTwoContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.newsThree{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsThreeContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

    
}
@media (min-width:768px) {

    /*News*/
    /*NEWS*/
.Container-news{
    padding: 50px 0;
}
.content-news{
    text-align: center;
    font-family: 'outfit';
}



.content-news h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}
.content-news p{
    margin: 0;
    padding: 8px 0;
    font-size: 14px;
}

.group1-news h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0;
}

.content2-news h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
#imgNews{
    width: 100%;
}

.group1-news{
    padding-bottom: 50px;
    padding-top: 20px;
}

.group1-news img{
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}
.group1-news img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content2-news button{
    background-color: #615EFC;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 50px;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}

.news button:hover{
    cursor: pointer;
    background-color: #010038;

}
.news img{
    width: auto;
    height: auto;
}
.display-news{
    background-color: #F3F4F6;
    
}

.content2-news{
    text-align: center;
    font-family: 'outfit';
}
.news p{
    font-weight: 200;
    color: #424242;
}
.newsOnetxt{
    font-weight: 300;
}
.newsTwotxt{
    font-weight: 300;
}
.newsThreetxt{
    font-weight: 300;
}
.newsOne{
    display: flex;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsOne:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsTwo:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsThree:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.newsOneContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}




.newsTwo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsTwoContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.newsThree{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsThreeContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.news a{
    margin: 10px 0;
}
    /*NONE HERE BROO*/    
}
@media (min-width:992px) {
    
    .navbar-nav a{
        padding: 10px 10px;
        margin: 10px 2px;
    }
    
    .container1{
        height: fit-content;
        width: auto;
        padding: 40px 0;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }
    .contentofpage1 h2{
        font-size: 1.5rem;
        color: #615EFC;
    }
    .contentofPage1 p{
        font-size: 14px;
    }
    .contentofPage1 button{
        font-size: 14px;
    }
    #learnMore-btn{
        color: #FFFFFF;
        background-color: #615EFC;
        border: none;
        border-radius: 2px;
        padding: 6px;
    }
    
    .img{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    #lappy{
        width: 75%;
    }
    
    .container2{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 40px 0;
    }
    .container2 h2{
        font-size: 1.5rem;
    }
    .container2 p{
        font-size: 14px;
    }
    .contentofPage2{
        margin: 0;
        text-align: left;
    }
    #choose{
        width: 250px;
        margin: 0;
        margin-left: 40px;
    }
    
    .thirdPage{
        text-align: left;
    }
    .contentofpage3{
        display: flex;
        align-items: center;
    }
    .contentofpage3 h1{
        font-size: 1.8rem;
        margin: 0;
        margin-right: 50px;
        color: #615EFC;
    }
    .contentofpage3 p{
        font-size: 14px;
        margin: 0;
    }

    .container4{
        display: flex;
        flex-direction: row;
    }
    .contentofpage4 h1{
        font-size: 1.8rem;
    }
    .contentofpage4 p{
        font-size: 14px;
    }
    .container4 img{
        width: 50%;
        margin: 0;
        margin-left: 20px;
    }
    
    .fifthPage{
        padding: 40px 0;
    }
    .contentofpage5 img{
        width: 100%;
        margin-bottom: 10px;
    }
    .Container5txt h2{
        font-size: 1.5rem;
    }
    .Container5txt p{
        font-size: 14px;
    }

    .context7{
        display: flex;
        justify-content: space-between;
    
    }
    .context7 h1{
        font-size: 1.5rem;
    }
    .context7 p{
        font-size: 14px;
        color: #615EFC;
    }
    .container7 img{
        width: 100%;
        margin-bottom: 10px;
    }

    .student{
        padding: 50px 0;
        font-family: 'outfit';
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px 15px;
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.2), 0 6px 20px 0 rgba(189, 189, 189, 0.19);
    }
    .contentofpage8 h1{
        font-size: 1.5rem;
        font-family: 'outfit';
        font-weight: 600;
        text-align: center;
    }

    .ninethPage{
        background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
    }
    .content9{
        padding: 40px 0;
        width: 100%;
        text-align: center;
        padding: 40px 0;
    }
    .content9 h1{
        font-size: 1.5rem;
        color: #615EFC;
    }
    

    .section1-contact{
        height: 95vh;
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
    }
    
    .ContactPage{
        padding: 50px 0;
    }
    .ContactPage h1{
        margin-bottom: 20px;
        text-align: center;
    }
    .MainContainer{
        width: 100%;
        height: auto;
        padding: 40px;
        background-color: #FFFFFF;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .inputContainer{
        width: 45%;
        margin-bottom: 50px;
    }
    .MainContainer iframe{
        width: 45%;
        height: auto;
    }
    

    /*NEWS*/
    .Container-news{
        padding: 50px 0;
    }
    .content-news{
        text-align: center;
        font-family: 'outfit';
    }
    
    
    
    .content-news h1{
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0;
    }
    .content-news p{
        margin: 0;
        padding: 8px 0;
        font-size: 16px;
    }
    
    .group1-news h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 10px 0;
    }
    
    .content2-news h1{
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
    }
    #imgNews{
        width: 100%;
    }
    
    .group1-news{
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .group1-news img{
        transition: ease-in;
        transition-duration: .3s;
        transition-delay: 3ms;
        cursor: pointer;
    }
    .group1-news img:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    
    .content2-news button{
        background-color: #615EFC;
        border: none;
        font-family: 'Montserrat';
        font-size: 16px;
        padding: 10px;
        color: #FFFFFF;
        border-radius: 2px;
        margin-bottom: 50px;
        transition-duration: .3s;
        transition-timing-function: ease-in;
        transition-delay: .1s;
    }
    
    .news button:hover{
        cursor: pointer;
        background-color: #010038;
    
    }
    .news img{
        width: 250px;
        height: auto;
    }
    .display-news{
        background-color: #F3F4F6;
        
    }
    
    .content2-news{
        text-align: center;
        font-family: 'outfit';
    }
    .news p{
        font-weight: 200;
        color: #424242;
    }
    .newsOnetxt{
        font-weight: 300;
    }
    .newsTwotxt{
        font-weight: 300;
    }
    .newsThreetxt{
        font-weight: 300;
    }
    .newsOne{
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 40px;
        transition: ease-in;
        transition-duration: .3s;
        transition-delay: 3ms;
        cursor: pointer;
    }
    
    .newsOne:hover{
        
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .newsTwo:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .newsThree:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    
    .newsOneContent{
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    
    
    
    .newsTwo{
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 40px;
        transition: ease-in;
        transition-duration: .3s;
        transition-delay: 3ms;
        cursor: pointer;
    }
    
    .newsTwoContent{
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    
    .newsThree{
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 40px;
        transition: ease-in;
        transition-duration: .3s;
        transition-delay: 3ms;
        cursor: pointer;
    }
    
    .newsThreeContent{
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .news a{
        margin: 10px 0;
    }

   



    footer{
        background-color: #141414;
        padding: 40px 0;
        color: #FFFFFF;
    }
    .footercontent{
        display: flex;
    }
    #logoFooter{
        width: 80px;
        height: auto;
    }
    .group-1{
        width: 50%;
    }
    .group-1 h3{
        font-size: 14px;
    }
    .group-1 p{
        font-size: 10px;
        margin-top: 10px;
    }
    
    #emailFooter{
        font-size: 8px;
        padding: 6px;
        width: 210px;
        border-radius: 1px;
        margin-right: 2px;
        border: none;
    
    }
    #Subscribe-btn{
        font-size: 8px;
        padding: 6px;
        border: none;
        border-radius: 1px;
        color: #FFFFFF;
        background-color: #615EFC;
    }

    .group-2{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .group-2 i{
        display: revert;
    }
    .group-2 h3{
        font-size: 1rem;
    }
    .group-2 p{
        font-size: 12px;
        margin: 10;
    }
    .FollowUs div{
        display: flex;
        align-items: center;
    }
    .FollowUs i{
        margin-right: 10px;
        margin-bottom: 14px;
        color: #615EFC;
        font-size: x-large;
    }
    .instagram,
    .facebook,
    .twitter,
    .discord,
    .youtube{
        display: flex;
        align-items: center;
        margin: 0;
    }























    
}
@media (min-width:1200px) {

    .container1{
        height: 100vh;
        width: auto;
        padding: 40px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .contentofpage1 h2{
        font-size: 2.5rem;
        color: #615EFC;
    }
    .contentofPage1 p{
        font-size: 16px;
    }
    .contentofPage1 button{
        font-size: 16px;
    }
    #learnMore-btn{
        color: #FFFFFF;
        background-color: #615EFC;
        border: none;
        border-radius: 2px;
        padding: 6px;
    }
    
    .img{
        width: 50%;
        display: flex;
        justify-content: end;
    }
    #lappy{
        width: 75%;
    }
    
    .container2{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 40px 0;
    }
    .container2 h2{
        font-size: 2rem;
    }
    .container2 p{
        font-size: 16px;
    }
    .contentofPage2{
        margin: 0;
        text-align: left;
    }
    #choose{
        width: 250px;
        margin: 0;
        margin-left: 40px;
    }
    
    .thirdPage{
        text-align: left;
    }
    .contentofpage3{
        display: flex;
        align-items: center;
    }
    .contentofpage3 h1{
        font-size: 2rem;
        margin: 0;
        margin-right: 50px;
        color: #615EFC;
    }
    .contentofpage3 p{
        font-size: 16px;
        margin: 0;
    }

    .container4{
        display: flex;
        flex-direction: row;
    }
    .contentofpage4 h1{
        font-size: 2rem;
    }
    .contentofpage4 p{
        font-size: 16px;
    }
    .container4 img{
        width: 50%;
        margin: 0;
        margin-left: 20px;
    }
    
    .fifthPage{
        padding: 40px 0;
    }
    .contentofpage5 img{
        width: 100%;
        margin-bottom: 10px;
    }
    .Container5txt h2{
        font-size: 1.5rem;
    }
    .Container5txt p{
        font-size: 14px;
    }

    .context7{
        display: flex;
        justify-content: space-between;
    
    }
    .context7 h1{
        font-size: 1.5rem;
    }
    .context7 p{
        font-size: 14px;
        color: #615EFC;
    }
    .container7 img{
        width: 100%;
        margin-bottom: 10px;
    }

    .student{
        padding: 50px 0;
        font-family: 'outfit';
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px 15px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.2), 0 6px 20px 0 rgba(189, 189, 189, 0.19);
    }
    .contentofpage8 h1{
        font-size: 1.5rem;
        font-family: 'outfit';
        font-weight: 600;
        text-align: center;
    }
    .content8 image{
        width: 100%;
        opacity: 100%;
    }

    .ninethPage{
        background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
    }
    .content9{
        padding: 40px 0;
        width: 100%;
        text-align: center;
        padding: 40px 0;
    }
    .content9 h1{
        font-size: 1.5rem;
        color: #615EFC;
    }
    
  /*NEWS*/
  .Container-news{
    padding: 50px 0;
}
.content-news{
    text-align: center;
    font-family: 'outfit';
}



.content-news h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}
.content-news p{
    margin: 0;
    padding: 8px 0;
    font-size: 16px;
}

.group1-news h2{
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
}

.content2-news h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
}
#imgNews{
    width: 100%;
}

.group1-news{
    padding-bottom: 50px;
    padding-top: 20px;
}

.group1-news img{
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}
.group1-news img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content2-news button{
    background-color: #615EFC;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 50px;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}

.news button:hover{
    cursor: pointer;
    background-color: #010038;

}
.news img{
    width: 250px;
    height: auto;
}
.display-news{
    background-color: #F3F4F6;
    
}

.content2-news{
    text-align: center;
    font-family: 'outfit';
}
.news p{
    font-weight: 200;
    color: #424242;
}
.newsOnetxt{
    font-weight: 300;
}
.newsTwotxt{
    font-weight: 300;
}
.newsThreetxt{
    font-weight: 300;
}
.newsOne{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsOne:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsTwo:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsThree:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.newsOneContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}




.newsTwo{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsTwoContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.newsThree{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsThreeContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.news a{
    margin: 10px 0;
}





    footer{
        background-color: #141414;
        padding: 40px 0;
        color: #FFFFFF;
    }
    .footercontent{
        display: flex;
    }
    #logoFooter{
        width: 80px;
        height: auto;
    }
    .group-1{
        width: 50%;
    }
    .group-1 h3{
        font-size: 14px;
    }
    .group-1 p{
        font-size: 10px;
        margin-top: 10px;
    }
    
    #emailFooter{
        font-size: 8px;
        padding: 6px;
        width: 210px;
        border-radius: 1px;
        margin-right: 2px;
        border: none;
    
    }
    #Subscribe-btn{
        font-size: 8px;
        padding: 6px;
        border: none;
        border-radius: 1px;
        color: #FFFFFF;
        background-color: #615EFC;
    }
    
    #container5Img{
        margin-right: 6px;
    }
    
    .group-2{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .group-2 i{
        display: revert;
    }
    .group-2 h3{
        font-size: 1rem;
    }
    .group-2 p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .FollowUs div{
        display: flex;
        align-items: center;
    }
    .FollowUs i{
        margin-right: 10px;
        margin-bottom: 10px;
        color: #615EFC;
        font-size: x-large;
    }
    .copyright{
        background-color: #615EFC;
        color: #FFFFFF;
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .copyright p{
        font-size: 12px;
        margin: 0;
    }
    .terms{
        display: flex;
    }

    .instagram,
    .facebook,
    .twitter,
    .discord,
    .youtube{
        display: flex;
        align-items: center;
        margin: 0;
    }



}
















@media (min-width:1400px) {
    
    .container1{
        height: 100vh;
        width: auto;
        padding: 40px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .contentofpage1 h2{
        font-size: 3.5rem;
        color: #615EFC;
    }
    .SubHeadingp p{
        font-size: 16px;
    }
    .contentofPage1 button{
        font-size: 16px;
    }
    #learnMore-btn{
        color: #FFFFFF;
        background-color: #615EFC;
        border: none;
        border-radius: 2px;
        padding: 10px;
    }
    
    .img{
        width: 50%;
        display: flex;
        justify-content: end;
    }
    #lappy{
        width: 100%;
    }
    
    .container2{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 40px 0;
    }
    .container2 h2{
        font-size: 2.5rem;
    }
    .container2 p{
        font-size: 16px;
    }
    .contentofPage2{
        margin: 0;
        text-align: left;
    }
    #choose{
        width: 350px;
        margin: 0;
        margin-left: 40px;
    }
    
    .thirdPage{
        text-align: left;
    }
    .contentofpage3{
        display: flex;
        align-items: center;
    }
    .contentofpage3 h1{
        font-size: 3rem;
        margin: 0;
        margin-right: 50px;
        color: #615EFC;
    }
    .contentofpage3 p{
        font-size: 18px;
        margin: 0;
    }

    .container4{
        display: flex;
        flex-direction: row;
    }
    .contentofpage4 h1{
        font-size: 2.5rem;
    }
    .contentofpage4 p{
        font-size: 18px;
    }
    .container4 img{
        width: 50%;
        margin: 0;
        margin-left: 20px;
    }
    
    .fifthPage{
        padding: 40px 0;
    }
    .contentofpage5 img{
        width: 100%;
        margin-bottom: 10px;
    }
    .Container5txt h2{
        font-size: 2rem;
    }
    .Container5txt p{
        font-size: 15px;
    }

    .context7{
        display: flex;
        justify-content: space-between;
    
    }
    .context7 h1{
        font-size: 2rem;
    }
    .context7 p{
        font-size: 16px;
        color: #615EFC;
    }
    .container7 img{
        width: 100%;
        margin-bottom: 10px;
    }

    .student{
        padding: 50px 0;
        font-family: 'outfit';
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px 15px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.2), 0 6px 20px 0 rgba(189, 189, 189, 0.19);
    }
    .contentofpage8 h1{
        font-size: 2rem;
        font-family: 'outfit';
        font-weight: 600;
        text-align: center;
    }
    .content8 image{
        width: 100%;
        opacity: 100%;
    }

    .ninethPage{
        background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
    }
    .content9{
        padding: 40px 0;
        width: 100%;
        text-align: center;
        padding: 40px 0;
    }
    .content9 h1{
        font-size: 2rem;
        color: #615EFC;
    }


  /*NEWS*/
  .Container-news{
    padding: 50px 0;
}
.content-news{
    text-align: center;
    font-family: 'outfit';
}



.content-news h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}
.content-news p{
    margin: 0;
    padding: 8px 0;
    font-size: 16px;
}

.group1-news h2{
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
}

.content2-news h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
}
#imgNews{
    width: 100%;
}

.group1-news{
    padding-bottom: 50px;
    padding-top: 20px;
}

.group1-news img{
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}
.group1-news img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content2-news button{
    background-color: #615EFC;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 50px;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transition-delay: .1s;
}

.news button:hover{
    cursor: pointer;
    background-color: #010038;

}
.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news img{
    width: 100%;
    height: auto;
}
.display-news{
    background-color: #F3F4F6;
    
}

.content2-news{
    text-align: center;
    font-family: 'outfit';
}
.news p{
    font-weight: 200;
    color: #424242;
}
.newsOnetxt{
    font-weight: 300;
}
.newsTwotxt{
    font-weight: 300;
}
.newsThreetxt{
    font-weight: 300;
}
.newsOne{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsOne:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsTwo:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsThree:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.newsOneContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}




.newsTwo{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsTwoContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.newsThree{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    transition: ease-in;
    transition-duration: .3s;
    transition-delay: 3ms;
    cursor: pointer;
}

.newsThreeContent{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.news a{
    margin: 10px 0;
}



    footer{
        background-color: #141414;
        padding: 40px 0;
        color: #FFFFFF;
    }
    .footercontent{
        display: flex;
    }
    #logoFooter{
        width: 100px;
        height: auto;
    }
    .group-1{
        width: 50%;
    }
    .group-1 h3{
        font-size: 18px;
    }
    .group-1 p{
        font-size: 14px;
        margin-top: 10px;
    }
    
    #emailFooter{
        font-size: 16px;
        padding: 6px;
        width: 400px;
        border-radius: 1px;
        margin-right: 2px;
        border: none;
    
    }
    #Subscribe-btn{
        font-size: 16px;
        padding: 6px;
        border: none;
        border-radius: 1px;
        color: #FFFFFF;
        background-color: #615EFC;
    }
    
    #container5Img{
        margin-right: 6px;
    }
    
    .group-2{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .group-2 i{
        display: revert;
    }
    .group-2 h3{
        font-size: 1rem;
    }
    .group-2 p{
        font-size: 14px;
    }
    .FollowUs div{
        display: flex;
    }
    .FollowUs i{
        margin-right: 10px;
        color: #615EFC;
    }
    .copyright{
        background-color: #615EFC;
        color: #FFFFFF;
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .copyright p{
        font-size: 14px;
        margin: 0;
    }
    .terms{
        display: flex;
    }
    
    
}






